<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>トップページ</title>
</head>
<body>
<h1>トップページ</h1>
<div>
    <a th:href="@{/logout}">ログアウト</a>
</div>
<div>
    <a th:href="@{/notifications/creationForm}">お知らせ登録</a>
</div>
<div>
    <ol>
        <li th:each="notification : ${notificationList}">
            <span th:text="${notification.message}"></span>
            (by <span th:text="${notification.createdBy}"></span>)
        </li>
    </ol>
</div>
</body>
</html>